# Configuration file

"entity blacklist" {
    B:AWWayofTime.AirElemental=false
    B:AWWayofTime.BileDemon=false
    B:AWWayofTime.BoulderFist=false
    B:AWWayofTime.EarthElemental=false
    B:AWWayofTime.FallenAngel=false
    B:AWWayofTime.FireElemental=false
    B:AWWayofTime.HolyElemental=false
    B:AWWayofTime.IceDemon=false
    B:AWWayofTime.LowerGuardian=false
    B:AWWayofTime.MinorDemonGrunt=false
    B:AWWayofTime.MinorDemonGruntEarth=false
    B:AWWayofTime.MinorDemonGruntFire=false
    B:AWWayofTime.MinorDemonGruntGuardian=false
    B:AWWayofTime.MinorDemonGruntGuardianEarth=false
    B:AWWayofTime.MinorDemonGruntGuardianFire=false
    B:AWWayofTime.MinorDemonGruntGuardianIce=false
    B:AWWayofTime.MinorDemonGruntGuardianWind=false
    B:AWWayofTime.MinorDemonGruntIce=false
    B:AWWayofTime.MinorDemonGruntWind=false
    B:AWWayofTime.Shade=false
    B:AWWayofTime.ShadeElemental=false
    B:AWWayofTime.SmallEarthGolem=false
    B:AWWayofTime.WaterElemental=false
    B:AWWayofTime.WingedFireDemon=false
    B:AlienVillager=false
    B:Automagy.WispNether=false
    B:Basalz=false
    B:Bat=false
    B:Blaze=false
    B:Blitz=false
    B:Blizz=false
    B:"BuildCraft|Robotics.bcRobot"=false
    B:CaveSpider=false
    B:Chicken=false
    B:Cow=false
    B:Creeper=false
    B:EMT.archer=false
    B:Enderman=false
    B:EntityHorse=false
    B:EvolvedCreeper=false
    B:EvolvedSkeleton=false
    B:EvolvedSpider=false
    B:EvolvedZombie=false
    B:Forestry.butterflyGE=false
    B:Ghast=false
    B:Giant=false
    B:HardcoreEnderExpansion.AngryEnderman=false
    B:HardcoreEnderExpansion.BabyEnderman=false
    B:HardcoreEnderExpansion.EnderGuardian=false
    B:HardcoreEnderExpansion.Endermage=false
    B:HardcoreEnderExpansion.FireGolem=false
    B:HardcoreEnderExpansion.ForestGhost=false
    B:HardcoreEnderExpansion.HauntedMiner=false
    B:HardcoreEnderExpansion.HomelandEnderman=false
    B:HardcoreEnderExpansion.InfestedBat=false
    B:HardcoreEnderExpansion.Louse=false
    B:HardcoreEnderExpansion.ParalyzedEnderman=false
    B:HardcoreEnderExpansion.ScorchedLens=false
    B:HardcoreEnderExpansion.VampireBat=false
    B:LavaSlime=false
    B:Mob=false
    B:Monster=false
    B:MushroomCow=false
    B:OpenBlocks.Luggage=false
    B:OpenBlocks.MiniMe=false
    B:Ozelot=false
    B:Pig=false
    B:PigZombie=false
    B:PneumaticCraft.Drone=false
    B:PneumaticCraft.logisticDrone=false
    B:Sheep=false
    B:Silverfish=false
    B:Skeleton=false
    B:Slime=false
    B:Slimeling=false
    B:Sludgeling=false
    B:SnowMan=false
    B:Spider=false
    B:Squid=false
    B:Thaumcraft.BrainyZombie=false
    B:Thaumcraft.CultistCleric=false
    B:Thaumcraft.CultistKnight=false
    B:Thaumcraft.EldritchCrab=false
    B:Thaumcraft.EldritchGuardian=false
    B:Thaumcraft.Firebat=false
    B:Thaumcraft.GiantBrainyZombie=false
    B:Thaumcraft.Golem=false
    B:Thaumcraft.InhabitedZombie=false
    B:Thaumcraft.MindSpider=false
    B:Thaumcraft.Pech=false
    B:Thaumcraft.TaintSpider=false
    B:Thaumcraft.TaintSpore=false
    B:Thaumcraft.TaintSwarm=false
    B:Thaumcraft.TaintSwarmer=false
    B:Thaumcraft.Taintacle=false
    B:Thaumcraft.TaintacleTiny=false
    B:Thaumcraft.TaintedChicken=false
    B:Thaumcraft.TaintedCow=false
    B:Thaumcraft.TaintedCreeper=false
    B:Thaumcraft.TaintedPig=false
    B:Thaumcraft.TaintedSheep=false
    B:Thaumcraft.TaintedVillager=false
    B:Thaumcraft.ThaumSlime=false
    B:Thaumcraft.TravelingTrunk=false
    B:Thaumcraft.Wisp=false
    B:ThaumicExploration.TaintacleMinion=false
    B:Villager=false
    B:VillagerGolem=false
    B:Witch=false
    B:"Wither Skeleton"=false
    B:Wolf=false
    B:Zombie=false
    B:arsmagica2.AirSled=false
    B:arsmagica2.BattleChicken=false
    B:arsmagica2.DaBroom=false
    B:arsmagica2.EarthElemental=false
    B:arsmagica2.Flicker=false
    B:arsmagica2.HellCow=false
    B:arsmagica2.MobDarkMage=false
    B:arsmagica2.MobDarkling=false
    B:arsmagica2.MobDryad=false
    B:arsmagica2.MobFireElemental=false
    B:arsmagica2.MobHecate=false
    B:arsmagica2.MobLightMage=false
    B:arsmagica2.MobMageVillager=false
    B:arsmagica2.MobManaCreeper=false
    B:arsmagica2.MobManaElemental=false
    B:arsmagica2.MobWaterElemental=false
    B:arsmagica2.RiftStorage=false
    B:arsmagica2.ShadowHelper=false
    B:arsmagica2.ThrownArm=false
    B:arsmagica2.ThrownRock=false
    B:arsmagica2.ThrownSickle=false
    B:arsmagica2.Whirlwind=false
    B:chisel.snowman=false
    B:quiverchevsky.quiverchevsky_turret=false
    B:witchery.attackbat=false
    B:witchery.banshee=false
    B:witchery.cat=false
    B:witchery.corpse=false
    B:witchery.covenwitch=false
    B:witchery.darkmark=false
    B:witchery.deathhorse=false
    B:witchery.demon=false
    B:witchery.ent=false
    B:witchery.eye=false
    B:witchery.familiar=false
    B:witchery.follower=false
    B:witchery.goblin=false
    B:witchery.hellhound=false
    B:witchery.illusionCreeper=false
    B:witchery.illusionSpider=false
    B:witchery.illusionZombie=false
    B:witchery.imp=false
    B:witchery.lostsoul=false
    B:witchery.louse=false
    B:witchery.mandrake=false
    B:witchery.mindrake=false
    B:witchery.mirrorface=false
    B:witchery.nightmare=false
    B:witchery.owl=false
    B:witchery.poltergeist=false
    B:witchery.spectre=false
    B:witchery.spirit=false
    B:witchery.toad=false
    B:witchery.treefyd=false
    B:witchery.vampire=false
    B:witchery.villageguard=false
    B:witchery.werevillager=false
    B:witchery.wingedmonkey=false
    B:witchery.witchhunter=false
    B:witchery.wolfman=false
}


