# Configuration file

general {
    # The vampire killer arrow can only instant kill NPC vampires that have a max (not actual) health of this
    I:arrow_vampire_killer_max_health=40

    # If the sanguinare effect can be canceled by a milk bucket
    B:can_cancel_sanguinare=true

    # The distance in which a garlic block has to be to harm. High values might have a performance impact
    I:garlic_check_range=6

    # The vertical distance in which a garlic block has to be to harm. High values might have a performance impact
    I:garlic_check_range_vertical=3

    # Chance that a camp is generated. n/1000 for each valid chunk
    I:hunter_camp_spawn_chance=40
    I:vampire_forest_weight=10
}


